* {
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: #A08CCC;
    height: 100vh;
    width: 100vw;
    color: #45467C;
    font-family: 'Heebo', sans-serif;

}

.mealCard {
    display: flex;
    justify-content: space-evenly;
    width: 35vw;
    height: 20vh;
    /* background: green */
    
}

.snackCard {
    display: flex;
    justify-content: space-evenly;
    width: 35vw;
    height: 20vh;
}